<!DOCTYPE html>
<html>
<head>
  <title>Bonga</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<head>
		<%= link_to "Write a story", new_post_path %>
		<% if user_signed_in? %>
		<%= current_user.email %>
		<% end %>
	</head>

	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
